@import 'variables';

@mixin fx($h: $FS, $v: $ST, $w: wrap) {
	display: flex;
	justify-content: $h;
	align-items: $v;
	flex-wrap: $w;
}

@mixin fx-wrap($w: wrap) {
	flex-wrap: $w;
}

@mixin fx-col {
	flex-direction: column;
}

@mixin center($z: auto) {
	z-index: $z;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin wrapper($w: $LG) {
	max-width: $w;
	margin: 0 auto;
}

@mixin bt-primary() {
	background-color: $primary;
	color: $light;
	padding: .75em 1.25em;
	cursor: pointer;
	border-radius: 4px;
	transition: all .5s;
	&:hover {
		background-color: $primary-light;
		color: $primary-dark;
	}
}


/************* 반응형 ***************/
@mixin XL {
	@media screen and (max-width: $XL){
		@content;
	}
}

@mixin LG {
	@media screen and (max-width: $LG){
		@content;
	}
}

@mixin MD {
	@media screen and (max-width: $MD){
		@content;
	}
}

@mixin SM {
	@media screen and (max-width: $SM){
		@content;
	}
}

@mixin XS {
	@media screen and (max-width: $XS){
		@content;
	}
}