$primary: #435da5;
$danger: #df5b3a;
$warning: #29af3f;
$dark: #333;
$light: #f1f1f1;

$XL: 1400px;
$LG: 1200px;
$MD: 992px;
$SM: 768px;
$XS: 576px;

$noto-kr: 'Noto Sans KR', sans-serif;
$open: 'Open Sans', sans-serif;

$FS: flex-start;
$FE: flex-end;
$ST: stretch;
$SB: space-between;
$SA: space-around;
$SE: space-evenly;
$CT: center;
$LT: left;
$RT: right;