@import 'variables';

@mixin fx($h: $FS, $v: $ST, $w: wrap) {
	display: flex;
	justify-content: $h;
	align-items: $v;
	flex-wrap: $w;
}

@mixin fx-wrap($w: wrap) {
	flex-wrap: $w;
}

@mixin fx-col {
	flex-direction: column;
}

@mixin center($z: auto) {
	z-index: $z;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin wrapper($w: $LG) {
	max-width: $w;
	margin: 0 auto;
}

@mixin shadow($x: 0, $y: 0, $b: 5px, $o: .5) {
	box-shadow: $x $y $b rgba(0, 0, 0, $o)
}

@mixin shadow-light($x: 0, $y: 0, $b: 5px, $o: .5) {
	box-shadow: $x $y $b rgba(255, 255, 255, $o)
}

@mixin text-shadow($x: 0, $y: 0, $b: 5px, $o: .5) {
	text-shadow: $x $y $b rgba(0, 0, 0, $o)
}

@mixin text-shadow-light($x: 0, $y: 0, $b: 5px, $o: .5) {
	text-shadow: $x $y $b rgba(255, 255, 255, $o)
}

@mixin bt-primary() {
	background-color: $primary;
	color: $light;
	padding: .75em 1.25em;
	cursor: pointer;
	border-radius: 4px;
	transition: all .5s;
	&:hover {
		background-color: $primary-light;
		color: $primary-dark;
	}
}

@mixin header-title($s: inherit, $c: inherit, $w: normal) {
	font-size: $s;
	color: $c;
	font-weight: $w;
	text-align: center;
}

@mixin link-hover($w: 2px, $c: $dark, $g: .5em, $s: 0.5s) {
	&::after {
		display: block;
		content: "";
		height: $w;
		background-color: $c;
		margin-top: $g;
		transition: transform $s;
		transform: scaleX(0);
		transform-origin: right center;
	}
	&:hover {
		&::after {
			transform: scaleX(1);
			transform-origin: left center;
		}
	}
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

/************* 반응형 ***************/
@mixin XL {
	@media screen and (max-width: $XL){
		@content;
	}
}

@mixin LG {
	@media screen and (max-width: $LG){
		@content;
	}
}

@mixin MD {
	@media screen and (max-width: $MD){
		@content;
	}
}

@mixin SM {
	@media screen and (max-width: $SM){
		@content;
	}
}

@mixin XS {
	@media screen and (max-width: $XS){
		@content;
	}
}