@import 'base';

.wrapper {
	@include wrapper($XL);
}

html {
	font-family: $open;
	body {
		@include scrollbars(10px, pink, red);
	}
}

header.header-wrapper {
	color: $light;
	background-color: $dark;
	@include fx($SB);
	.logo {
		font-size: 1rem;
		padding: 1em;
		&:hover {
			background-color: $danger;
			color: $light;
		}
	}
	.navi-wrap {
		@include fx;
		.navi {
			padding: 1em;
			&.mo-navi {
				display: none;
			}
			@include MD {
				display: none;
				&.mo-navi {
					display: block;
				}
			}
			&:hover {
				background-color: $light;
				color: $dark;
			}
		}
	}
}

.main-wrapper {
	max-height: calc(100vh - 50px);
	position: relative;
	overflow: hidden;
	.title {
		text-align: $CT;
		color: $light;
		font-size: 4vw;
		@include text-shadow($o: .7, $b: 10px);
		@include center;
		@include fx($CT, $CT);
		@include fx-col;
		@include SM {
			font-size: 6vw;
		}
		.bt-login {
			text-shadow: none;
			@include bt-primary;
			font-size: 1.25rem;
			margin-top: 1em;
			@include SM {
				font-size: .875rem;
			}
		}
	}
}







.pf-wrapper {
	.title {
		margin: 3em 0 2em 0;
		// @include header-title;
		// @include header-title(2rem);
		// @include header-title(2rem, red, bold);
		@include header-title($s: 2rem, $w: bold);
	}
	.navi-cate {
		@include fx($CT);
		margin: 1em 0;
		a {
			padding: 1em 1.5em;
			@include link-hover($c: darkred, $g: .325em, $w: 3px);
		}
	}
	.pf-wrap {
		@include fx;
		.pf {
			width: 23%;
			margin: 1%;
			@include MD {
				width: 31.3333%;
			}
			@include SM {
				width: 48%;
			}
			@include XS {
				width: 98%;
			}
		}
	}
}